[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohan Cm (mohancm100)
[access "refs/for/refs/*"]
	read = group user/Mohan Cm (mohancm100)
	push = group user/Mohan Cm (mohancm100)
	label-Code-Review = -2..+2 group user/Mohan Cm (mohancm100)
	label-Verified = -1..+1 group user/Mohan Cm (mohancm100)
	rebase = group user/Mohan Cm (mohancm100)
	removeReviewer = group user/Mohan Cm (mohancm100)
	submit = group user/Mohan Cm (mohancm100)
[access "refs/heads/*"]
	read = group user/Mohan Cm (mohancm100)
	create = group user/Mohan Cm (mohancm100)
	push = +force group user/Mohan Cm (mohancm100)
	pushMerge = group user/Mohan Cm (mohancm100)
[access "refs/tags/*"]
	push = group user/Mohan Cm (mohancm100)
	push = +force group user/Mohan Cm (mohancm100)
